name: nilts_workspace
publish_to: 'none'

environment:
  sdk: '>=3.10.0 <4.0.0'

workspace:
  - examples/nilts_example
  - packages/nilts
  - packages/nilts_clock
  - packages/nilts_core
  - packages/nilts_flutter_hooks

dev_dependencies:
  melos: 7.4.0
  very_good_analysis: 10.0.0

melos:
  repository:
    type: github
    origin: https://github.com/dassssshers/nilts
    owner: dassssshers
    name: nilts

  ide:
    intellij: true

  command:
    bootstrap:
      enforceLockfile: true

  scripts:
    prepare:
      run: flutter pub global activate very_good_cli 0.28.0
      description: prepare for develop

    get:
      run: flutter pub get
      description: pub get

    lint:
      run: flutter analyze --fatal-infos --fatal-warnings
      description: lint

    fmt:
      run: |
        melos fix && \
        melos fmt:dart
      description: format

    fmt:dry:
      run: |
        melos fix:dry && \
        melos fmt:dart:dry
      description: format (dry-run)

    fmt:dart:
      run: dart format .
      exec:
        concurrency: 1
        failFast: true
      description: format dart

    fmt:dart:dry:
      run: dart format --set-exit-if-changed .
      exec:
        concurrency: 1
        failFast: true
      description: format dart (dry-run)

    fix:
      run: dart fix --apply
      exec:
        concurrency: 1
        failFast: true
      description: fix dart

    fix:dry:
      run: dart fix --dry-run
      exec:
        concurrency: 1
        failFast: true
      description: fix dart (dry-run)

    test:
      run: melos test:unit
      description: test

    test:unit:
      run: very_good test
      exec:
        concurrency: 1
      packageFilters:
        ignore: nilts_example
      description: unit test

    build:example:
      run: |
        melos build:example:android && \
        melos build:example:ios
      description: build on nilts_example

    build:example:android:
      exec: flutter build appbundle
      packageFilters:
        scope: nilts_example
      description: build android on nilts_example

    build:example:ios:
      exec: flutter build ios --no-codesign
      packageFilters:
        scope: nilts_example
      description: build ios on nilts_example
