name: nilts_example
description: A new Flutter project.
publish_to: 'none'

environment:
  sdk: '>=3.10.0 <4.0.0'
  flutter: '>=3.38.3'

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
