# needed to securely identify the workflow
# https://autofix.ci/security
name: autofix.ci

on:
  merge_group:
    types: [checks_requested]

  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Bun
        uses: ./.github/actions/setup-bun
      - name: Format with Prettier
        run: bun fmt

      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter
      - name: Format Flutter
        run: melos fmt

      - name: Auto Fix
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
